---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Testing 123">
    <h2 class="text-4xl font-bold mb-4">About</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta,
        veritatis labore. Corporis excepturi rem eveniet dolorum molestiae quos
        ipsum omnis fuga doloribus ex, inventore sapiente nobis ipsa! Rem,
        libero totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
        consectetur asperiores obcaecati similique? Recusandae saepe ex id
        quaerat exercitationem maiores, officiis, totam nobis nulla voluptatibus
        nisi voluptatem quia veritatis perspiciatis.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum itaque
        vel est magnam sunt officia. Sint aspernatur voluptatum tempore labore
        alias repellendus pariatur incidunt dolorem illum fugiat laborum,
        nostrum eum.
    </p>
</Layout>
