---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Testing 123">
    <main>
        <h2 class="text-4xl font-bold mb-4">Home</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta,
            veritatis labore. Corporis excepturi rem eveniet dolorum molestiae
            quos ipsum omnis fuga doloribus ex, inventore sapiente nobis ipsa!
            Rem, libero totam!
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta,
            veritatis labore. Corporis excepturi rem eveniet dolorum molestiae
            quos ipsum omnis fuga doloribus ex, inventore sapiente nobis ipsa!
            Rem, libero totam!
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta,
            veritatis labore. Corporis excepturi rem eveniet dolorum molestiae
            quos ipsum omnis fuga doloribus ex, inventore sapiente nobis ipsa!
            Rem, libero totam!
        </p>
    </main>
</Layout>
