---
interface Props {
    title: string;
}

const { title } = Astro.props;

const links = [
    { href: '/', text: 'Home' },
    { href: '/about', text: 'About' },
    { href: '/contact', text: 'Contact us' }
];
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <header class="p-4 border border-b-slate-300 mb-4">
            <div class="container mx-auto">
                <ul class="flex gap-3">
                    {
                        links.map((link) => {
                            return (
                                <li>
                                    <a
                                        href={link.href}
                                        class="px-3 py-2 bg-slate-300 rounded-lg"
                                    >
                                        {link.text}
                                    </a>
                                </li>
                            );
                        })
                    }
                </ul>
            </div>
        </header>
        <main>
            <div class="container mx-auto">
                <slot />
            </div>
        </main>
    </body>
</html>
